* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/sfondo-di-un-cinema-di-design-piatto.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

h1 {
  text-align: center;
  padding: 20px 0px;
}

section {

  padding: 20px;
}

hr {
  width: 400px;
}

.white {
  color: white;
}

li {
  color: white;
  padding: 10px 0px;
  list-style: none;
}

.container-first {
  width: 600px;
  height: 150px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 20px;
  background-color: cornsilk;
}

.container-second {
  width: 600px;
  height: 100px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 20px;
  background-color: cornsilk;
}

select {
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

input {
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  border: 1px solid black;
}

button {
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  border: 1px solid black;
}